table,th,td,tr{
    border: 1px solid black;
    padding: 8px;
    text-align: center;
}
.fixed-layout{
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;
}
.fixed-layout th,.fixed-layout td{
    width: 100px;
    word-wrap: break-word;
}